__pycache__/
*.py[cod]

*.so

examples/*.c

bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
vendor/
*.egg-info/
.installed.cfg
*.egg

pip-log.txt
pip-delete-this-directory.txt

.tox/
.coverage
.cache
nosetests.xml
coverage.xml

*.mo

.mr.developer.cfg
.project
.pydevproject

.ropeproject

*.log
*.pot

docs/_build/

venv

.env
.model_library # We'll include it *for now*
.templates
.instructions
.chains
.burger
